.navbar-nav{
    margin-left: 400px;
  }
  .navbar-brand{
    margin-left: 50px;
  }
  .row{
    justify-content: center;
  }
  /* .displayDiv{
    margin: none;
  } */
  footer{
    /* height: 20px; */
    background-color: black;
    border-top: 1px solid gold;
    justify-content: center;
    
  }
  /* @media (max-width: screen-xs-max){ */
    /* .row{
      
    } */
  /* } */