/*home.js css */
/* #main{ */
  /* background-color: black; */
/* }
 */
 .profilePicture{
  /* justify-content: right; */
  align-items: center !important;
 }
/* app.js css */
.title{
  color: gold;
}
.navbar-nav{
  margin-left: 400px;
}
.navbar{
  /* position: relative; */
  position: fixed ;
}
.navbar-brand{
  margin-left: 50px;
  color: gold !important;
}
.row{
  justify-content: center;
}
footer{
  /* height: 20px; */
  background-color: black;
  border-top: 1px solid gold;
  justify-content: center;
    
}
/* card css */
.card-img-top{
  background-size: cover;
}
.card-body{
  justify-content: space-between;
}
.card-link{
  text-decoration: none;
  font-size: small;
}
#descript-block{
  border: 1px gold solid !important;
}
  /* @media (max-width: screen-xs-max){ */
    /* .row{
      
    } */
  /* } */